<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.testscript.Sample"/>
      <class name="com.testscript.TestMobile"/>
      <class name="com.testscript.Test1"/>
      <class name="com.testscript.TestCreateAccount"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
